<!DOCTYPE html>
<html lang="en" data-bs-theme="dark">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/bootstrap/dist/css/bootstrap.min.css">
    <link rel="stylesheet" href="styles/main.css" />
    <title>My Library Book Tracker</title>


</head>

<body>

    <div class="container vh-100 d-flex justify-content-center">
        <div class="row w-100 p-3">
            <div class="col-md-6 col-lg-4 mx-auto">
                <h1>Register</h1>
                <br>
                <form action="/register" method="post">
                    <div class="mb-3">
                        <label for="input-name" class="form-label">Name</label>
                        <input type="text" class="form-control" id="input-name" placeholder="fulan al fulani"
                            name="userName">
                    </div>
                    <div class="mb-3">
                        <label for="input-email" class="form-label">Email address</label>
                        <input type="email" class="form-control" id="input-email" placeholder="example@example.com"
                            name="userEmail">
                    </div>
                    <div class="mb-3">
                        <label for="inputPassword5" class="form-label">Password</label>
                        <input type="password" id="inputPassword5" class="form-control"
                            aria-describedby="passwordHelpBlock" name="userPassword">
                    </div>
                    <div class="mb-3">
                        <button type="submit" class="btn btn-primary">Register</button>
                    </div>

                </form>
                <div>
                    <p>Already have an account?
                        <a href="/login">Go to Login</a>
                    </p>
                </div>
                <div class="card">
                    <div class="card-body">
                        <a class="btn btn-block" href="/auth/google" role="button">
                            <i class="fab fa-google"></i>
                            Sign Up with Google
                        </a>
                    </div>
                </div>
            </div>

        </div>

    </div>



</body>

</html>